.leftp-img{
    width: 50%;
    height: auto;
    position: relative;
    left:50%;
    transform: translate(-50%);
}

.about-box{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.2rem;
}

.about-box h2{
    text-align: center;
    margin-top: 7rem;
}