nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10px;
  background: rgb(48, 48, 68);
  color: white;
}
.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
